.btn-view{
    border-radius: 20px;
    cursor: pointer;
}

.Processing{
    color: yellow;
}

.Received{
    color: #1fa9d9;
}

.Fulfilled{
    color: green;
}

.delete{
    cursor: pointer;
    color: red;
    // font-size: 30px;
}