.pages{
    display: flex;
    justify-content: space-between;
}
b{
    color: #1fa9d9;
}

.pagination{
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 4rem !important;
}
.pagination {
    .page-num{
        padding: 1rem;
        width: 30px ;
        height: 30px;
        background-color:#fff;
        color: #1fa9d9;
        margin:0 0.2rem ;
        &:hover{
            opacity: 0.8;
        }
    }
    .active{
        background-color: #1fa9d9;
        color:#fff;
    }
}